body {
    font-family: 'Poppins', sans-serif;
    background-color: #EFEFEF;
}

.recipe-form {
    background: #EFEFEF;
    margin: 2rem auto;
    min-width: 80%;
}

.picture-box {
    width: 15rem;
    height: 20rem;
    background-color: #ffffff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-size: 1rem;
}

.picture-box:hover, .image-box:hover{
    cursor: pointer;
    background-color: #eaeaea;
}

.tag {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 0.25rem 0.75rem;
    margin: 0.25rem;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.tag.checked {
  background-color: #198754; /* Bootstrap success */
  color: white;
}

.tag.checked::before {
  content: "✓ ";
}

.tag.crossed {
  background-color: #dc3545; /* Bootstrap danger */
  color: white;
}

.tag.crossed::before {
  content: "✕ ";
}

.ingredient-input, .step-input {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.step-number {
    background-color: #EF9651;
    color: black;
    width: 2.5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 50%;
}

.image-box {
    background-color: #ffffff;
    height: 8rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: #aaa;
    margin-left: 3rem;
}

.delete-btn {
    background: none;
    border: none;
    color: #999;
    padding: 0;
    margin-top: 0.5rem;
}